<!DOCTYPE html>
<html ng-app="modApp">
<head>
    <meta charset="UTF-8">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <link ref="style" href="css/master.css">
    <script src="app.js"></script>
    <script src="auth/auth.js"></script>
    <script src="auth/authRest.js"></script>
    <script src="auth/authController.js"></script>
    <script src="recipePrint/recipePrint.js"></script>
    <script src="recipePrint/modRecipePrintController.js"></script>
</head>
<body>

        <!-- Форма авторизации (шапка) -->
     <div ng-controller="authController">
        <div ng-init="init()">
            <div ng-if="isAutorized===true">
                <p>
                    <label>Здравствуйте {{curUser}}!</label>
                    <button ng-click="logout()">Выйти</button>
                </p>
                <p>
                    <a href="#/printRecipe">Распечатать</a>
                    <a href="#/homePage">Домой</a>
                </p>
            </div>
            <div ng-if="isAutorized===false">
                <p><input type="text" ng-model="name"></p>
                <p><input type="password" ng-model="pass"></p>
                <p><button ng-click="login(name, pass)">Войти</button></p>
            </div>
        </div>
    </div>

        <!-- Содержимое страници -->
    <div>
        <ng-view></ng-view>
    </div>

</body>
</html>